{% load static %}
<div id="section_iot">
    <div id="titulo_iot">
        <i class="fas fa-tachometer-alt"></i>
        <h1>IOT DATOS</h1>
    </div>
    <!-- <div id="section_cocina_titulo">
        <h1>COCINA</h1>
    </div> -->
    <div id="section_cocina_iot">
        <div id="section_temperature">
            <i id="icon_temperatura" class="fas fa-temperature-low"></i>
            <div>
                <p>Temperatura</p>
                <h1>40º</h1>
            </div>
        </div>
        <div id="section_temperature">
            <i id="icon_temperatura" class="fas fa-thermometer"></i>
            <div>
                <p>Humedad</p>
                <h1>30%</h1>
            </div>
        </div>
    </div>
    <!-- <div id="section_cocina_titulo">
        <h1>Hidroponicos</h1>
    </div> -->
    <div id="section_cocina_iot">
        <div id="section_temperature">
            <i id="icon_temperatura" class="fas fa-temperature-low"></i>
            <div>
                <script type="text/javascript">
                   
                    </script>
                <p>Temperatura</p>
                <h1>25º</h1>
            </div>
        </div>
        <div id="section_temperature">
            <i id="icon_temperatura" class="fas fa-thermometer"></i>
            <div>
                <p>Humedad</p>
                <h1>50%</h1>
            </div>
        </div>
        <div id="section_temperature">
            <i class="fas fa-flask"></i>
            <div>
                <p>PH</p>
                <h1>5.5</h1>
            </div>
        </div>
        <div id="section_temperature">
            <i class="fas fa-bolt"></i>
            <div>
                <p>Conductividad</p>
                <h1>50%</h1>
            </div>
        </div>
        <div id="section_temperature">
            <i class="fas fa-atom"></i>
            <div>
                <p>Oxigeno</p>
                <h1>10</h1>
            </div>
        </div>
        <div id="section_temperature">
            <i class="fas fa-vial"></i>
            <div>
                <p>Solución A</p>
                <h1>5ml</h1>
            </div>
        </div>
        <div id="section_temperature">
            <i class="fas fa-vial"></i>
            <div>
                <p>Solución B</p>
                <h1>5ml</h1>
            </div>
        </div>
        <div id="section_temperature">
            <i class="fas fa-ruler-vertical"></i>
            <div>
                <p>Tanque</p>
                <h1>50mc</h1>
            </div>
        </div>
    </div>
    
</div>