{% load static %}
 {% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/chef_pedidos.css'%}">
    <link rel="stylesheet" href="{% static 'css/section_menu.css'%}">
    <link rel="stylesheet" href="{% static 'css/chef_pedidos_card.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="content">
        {% include "chef_pedidos_card.html"%}
        {% include "section_menu.html"%} 
    </div>
   

</body>
</html>