<div id="select_rol">
    <!-- <a id="select_rol_label">Seleccione el rol</a>
    <form action="">
        <div id="select_rol_radio">
            <input type="radio" id="chef" name="rol" value="chef">
            <label class="rol" for="chef">Chef</label><br>
            <input type="radio" id="cliente" name="rol" value="cliente">
            <label class="rol" for="cliente">Cliente</label><br>
            <input type="radio" id="domiciliario" name="rol" value="domiciliario">
            <label class="rol"for="domiciliario">Domiciliario</label>
        </div>
        <div></div>
    </form> -->
    <div class="form-style-5">
        <form action="/loggin/" method="post">{% csrf_token %}
           
            <fieldset>
                <h1 _ngcontent-ng-rappi-c115="" class="f-title">Iniciar sesión</h1>
           
            <label for="job">Rol</label> 
            <select id="job" name="rol">
                <option value="chef">chef</option>
                <option value="cliente">cliente</option>
                <option value="domiciliario">domiciliario</option>
            </select>  
       
        <input type="text" name="user" placeholder="Usuario *">
        <input type="password" name="pw" placeholder="Contraseña *">
       
        <input type="submit" value="Log In" />
        </form>
        <div id="opciones">
            <a href="#">Registrase</a> 
            
            <a href="#">Recuperar contraseña</a>
        </div>

        </div>
    
</div>