{% load static %}
<div id="section_menu">
    <img id="img_hambur"src="{% static 'css/logo_guber.png'%}" alt="">
    <div id="nombre_foto">
        <img id="foto_chef"src="{% static 'css/foto_chef.png'%}" alt="">
        <a id="nombre_chef">{{nombre}}</a>
    </div>
    <div id="perfil">
        <i id="icon_perfil" class="fas fa-user"></i>
        <p>Perfil</p>
    </div>
    <div id="perfil">
        <i class="fas fa-link"></i>
        <p>historial de compras</p>
    </div>
    <div id="perfil">
        <i class="fas fa-star"></i>
        <p>favoritos</p>
    </div>
    <div id="perfil">
        <i class="fas fa-cog"></i>
        <p>configuraciones</p>
    </div>

</div>